
@{
    ViewBag.Title = "Sahiplendirme İlanları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #aaa;
            border-radius: 4px;
            height: 38px;
            padding: 4px 5px;
        }
    </style>
}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-0">Sahiplendirme İlanları</h2>
            </div>
        </div>
    </div>
</header>

<div class="search-container container">
    <div class="col-md-12 tab-wrap">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <form action="#" class="search-property-1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-6">
                            <div class=" p-4 border-0">
                                <label>Şehir</label>
                                <div class="form-field">
                                    @Html.DropDownList("SehirID", (SelectList)ViewBag.Sehir, " -Konum- ", new { @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class=" p-4">
                                <label>Cins</label>
                                <div class="form-field">
                                    @Html.DropDownList("CinsID", (SelectList)ViewBag.Cins, " -Cins- ", new { @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class=" mt-5 w-100 border-0">
                                <input type="submit" value="Ara" class="align-self-stretch form-control btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="topics-section section-padding pb-0" id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>
                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>
                        <p>aspmca poscmpdsmcapo posamcapmcpm pomcsdvnsokl psdvmsodvmdpoş spdvmosdmv spodvmsodmvl psdvmsdmv spodvmosmdv</p>
                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>
                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="detail-page.html" class="custom-block-image-wrap">
                        <img src="~/Content/images/profile/lostdog1.jpg"
                             class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="listing-page.html">
                                Karabas
                            </a>
                        </h5>

                        <p class="badge mb-0"> Buca</p>
                        <p class="badge mb-0">50 0521 213 13 21</p>

                    </div>
                </div>
            </div>
            <div class="d-block"></div>
            <div class="col-lg-4 col-12 mx-auto mb-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center mt-5">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item active"><a class="page-link" href="#">1</a></li>

                        <li class="page-item"><a class="page-link" href="#">2</a></li>

                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                allowClear: true
            });
        });
    </script>
}