@model Patici.EDMX.Iletisim

@{
    ViewBag.Title = "İletişim";
}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-0">İletişim</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding" id="section_2">
    <div class="container">
        @if (ViewBag.Mesaj != null)
        {
            <h3 style="color:blue;">@ViewBag.Mesaj</h3>
        }
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 pe-lg-5">
                <div class="contact-info">
                    <h3 class="mb-4">Bize ulaşın</h3>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Telefon:</strong>
                        <span>0 545 445 47 47</span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Email:</strong>
                        <a href="mailto:destek@patidostu.com">destek@patidostu.com</a>
                    </p>
                    <p class="d-flex">
                        <strong class="d-inline me-4">Konum:</strong>
                        <span>Buca/İZMİR</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-12 mt-5 mt-lg-0">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6256.321789978313!2d27.202594687280286!3d38.36839922922325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b961f364ed1fc5%3A0x3a05acfdbae429ca!2sDokuz%20Eyl%C3%BCl%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1713620395279!5m2!1str!2str" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</section>

<section class="contact-section section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="section-title-wrap mb-4 mt-4">
                    <h4 class="section-title">İletişim Formu</h4>
                </div>
                <form action="/Home/Iletisim/" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                @Html.TextBoxFor(x => x.AdSoyad, new { type = "text", @class = "form-control", placeholder = "Ad Soyad", required = "required" })
                                <label for="AdSoyad">Ad Soyad</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                @Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control", placeholder = "Email adresi", required = "required" })
                                <label for="Email">Email adresi</label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                @Html.TextAreaFor(x => x.Mesaj, new { type = "text", @class = "form-control", placeholder = "Mesajınızı buraya yazın", required = "required" })
                                <label for="Mesaj">Mesajınızı buraya yazabilirsiniz</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 ms-auto mb-4">
                            <button type="submit" class="form-control">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>