
@{
    ViewBag.Title = "Veterinerlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #aaa;
            border-radius: 4px;
            height: 38px;
            padding: 4px 5px;
            width:100%;
        }
    </style>
}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-0">Veterinerlerimiz</h2>
            </div>

        </div>
    </div>
</header>

<div class="search-container container mb-4">
    <div class="col-md-12 tab-wrap">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <form action="#" class="search-property-1">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class=" p-4 border-0">
                                <label for="locationSelect">Şehir</label>
                                <div class="form-field">
                                    @Html.DropDownList("SehirID", (SelectList)ViewBag.Sehir, " -Konum- ", new { @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class=" mt-5 w-75 border-0" style="float:right;">
                                <input type="submit" value="Ara" class="align-self-stretch form-control btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="trending-podcast-section section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="~/Content/images/staff-2.jpg" class="custom-block-image"
                                 alt="">
                        </a>
                    </div>
                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Ahmet mehmet
                            </a>
                        </h5>
                        <p class="mb-0" style="font-size: 16px; line-height: 1.5;height: 72px; overflow: hidden;">um dolor sit amet consectetur Lorem Ipsum dolor sit amet consectetur zdsad asdasds adasdasd asdasdasdasdszdsadasdasdsadasdasdasdasdasdasdszdsadasdasdsadasdasdasdasdasdasdszdsadasdasdsadasdasdasdasdasdasdszdsadasdasdsadasdasdasdasdasdasds</p>
                        <div class="custom-block-bottom d-flex justify-content-center mt-3">
                            <a href="#" class="badge ms-3">
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a href="#" class="badge ms-3">
                                <i class="bi-chat"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="~/Content/images/staff-2.jpg" class="custom-block-image img-fluid"
                                 alt="">
                        </a>
                    </div>
                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Emel Sevgi
                            </a>
                        </h5>
                        <p class="mb-0"> dolor sit amet consectetur Lorem Ipsum dolor sit amet consectetur</p>
                        <div class="custom-block-bottom d-flex justify-content-center mt-3">
                            <a href="#" class="badge ms-3">
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a href="#" class="badge ms-3">
                                <i class="bi-chat"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="~/Content/images/staff-2.jpg" class="custom-block-image img-fluid"
                                 alt="">
                        </a>
                    </div>
                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Fırat Nehir
                            </a>
                        </h5>
                        <p class="mb-0">t consectetur Lorem Ipsum dolor sit amet consectetur</p>
                        <div class="custom-block-bottom d-flex justify-content-center mt-3">
                            <a href="#" class="badge ms-3">
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a href="#" class="badge ms-3">
                                <i class="bi-chat"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="~/Content/images/staff-2.jpg" class="custom-block-image img-fluid"
                                 alt="">
                        </a>
                    </div>
                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yasin Kaplan
                            </a>
                        </h5>
                        <p class="mb-0">Ltur Lorem Ipsum dolor sit amet consectetur Lorem Ipsum dolor sit amet consectetur</p>
                        <div class="custom-block-bottom d-flex justify-content-center mt-3">
                            <a href="#" class="badge ms-3">
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a href="#" class="badge ms-3">
                                <i class="bi-chat"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="~/Content/images/staff-2.jpg" class="custom-block-image img-fluid"
                                 alt="">
                        </a>
                    </div>
                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            Can Savaş
                        </h5>
                        <p class="mb-0">Lorem Ipsum dolor sit amet consecteor sit amet consectetur</p>
                        <div class="custom-block-bottom d-flex justify-content-center mt-3">
                            <a href="#" class="badge ms-3">
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a href="#" class="badge ms-3">
                                <i class="bi-chat"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block"></div>
            <div class="col-lg-4 col-12 mx-auto mb-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center mt-5">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item active"><a class="page-link" href="#">1</a></li>

                        <li class="page-item"><a class="page-link" href="#">2</a></li>

                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#SehirID').select2({
                allowClear: true
            });
        });
    </script>
}